RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewiteRule ^(.*)$ public/index.php?url=$1 [QSA,L]# .htaccess

# Empêcher l'accès direct aux fichiers PHP sauf index.php
<FilesMatch "\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>
<Files index.php>
    Order allow,deny
    Allow from all
</Files>

# Redirection vers login.html si l'utilisateur n'est pas connecté
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !/login.html$
RewriteCond %{REQUEST_URI} !/login.php$
RewriteCond %{REQUEST_URI} !/logout.php$
RewriteCond %{REQUEST_URI} !/register.html$
RewriteCond %{REQUEST_URI} !/register.php$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /login.html [L]

# Activer les sessions PHP
php_flag session.auto_start Off
php_value session.use_cookies 1
php_value session.use_only_cookies 1
php_value session.use_trans_sid 0
php_value session.cookie_httponly 1
php_value session.cookie_secure 1
php_value session.gc_maxlifetime 86400
